.container {
	margin-bottom: 20px;
}

.label {
	font-weight: 700;
}

.input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #7a7a89;
	border-radius: 4px;
	margin-top: 5px;
}

.placeholder {
	color: #362e2e;
}

.subfilter {
	margin-top: 20px;
}